############################################################################
# This is a sample config file. It was tested with:                                                              
#                                                                                                                
#      Compiler name/version:       Intel Compiler 9.1, MS .Net 2003                                                               
#      Operating system version:    Windows XP Professional                                                               
#      Hardware:                    Intel Pentium 4 and compatible Intel processors 
#                                   supporting Streaming SIMD Extensions 3                                                                       
#                                                                                                                
# If your platform uses different versions, different
# hardware or operates in a different mode (for 
# example, 32- vs. 64-bit mode), there is the possibiliy
# that this configuration file may not work as-is. 
# 
# Note that issues with compilation should be directed
# to the compiler vendor. Information about SPEC technical
# support can be found in the techsupport document in the
# Docs directory of your benchmark installation.
#
# This config file uses the SmartHeap library and if you
# do not have a licensed copy, please remove all
# instances of shlW32M.lib from this config file.
#
# Also note that this is a sample configuration. It
# is expected to work for the environment in which
# it was tested; it is not guaranteed that this is 
# the config file that will provide the best performance.
# 
#                                                                                                                
# Note that you might find a more recent config file for                                                         
# your platform with the posted results at                                                                       
# http://www.spec.org/cpu2006
############################################################################
# SPEC CPU2006 Intel Windows XP config file
# Mar 14 2006. Intel Compiler 9.x + MS .Net 2003
############################################################################
action      = validate
tune        = base
ext         = cpu2006.win32.fast.exe
PATHSEP     = /
check_md5=1
reportable=1
################################################################
#
# These are listed as benchmark-tuning-extension-machine
#
################################################################
# Compiler section
################################################################
CC  = icl -Qvc7.1 -Qc99
CXX = icl -Qvc7.1
FC  = ifort
OBJ = .obj

int=default:
EXTRA_LDFLAGS     = /F512000000 
LDOUT             = -Fe$@ -link /FORCE:MULTIPLE

fp=default:
EXTRA_LDFLAGS     = /F950000000
LDOUT             = -Fe$@ -link /FORCE:MULTIPLE

################################################################
# Portability section
################################################################
403.gcc=default=default=default:
CPORTABILITY      = -DSPEC_CPU_WIN32
EXTRA_CFLAGS      = -Dalloca=_alloca 

436.cactusADM=default=default=default:
FPORTABILITY      = -Qlowercase /assume:underscore 

444.namd=default=default=default:
CXXPORTABILITY    =  -TP 

447.dealII=default=default=default:
PORTABILITY       = -DDEAL_II_MEMBER_VAR_SPECIALIZATION_BUG -DBOOST_NO_INTRINSIC_WCHAR_T

453.povray=default=default=default:
CXXPORTABILITY    = -DSPEC_CPU_WINDOWS_ICL  

454.calculix=default=default=default:
PORTABILITY      = -Qlowercase -DSPEC_CPU_NOZMODIFIER 

464.h264ref=default=default=default:
PORTABILITY       = -DSPEC_CPU_NO_INTTYPES -DWIN32 

481.wrf=default:
CPORTABILITY     = -DSPEC_CPU_WINDOWS_ICL 

################################################################
# Baseline Tuning Flags
# default baseline for int and fp 2006
################################################################
default=default=default=default:
OPTIMIZE=       -fast
CXXOPTIMIZE=    -Qcxx_features 
sw_base_ptrsize = 32-bit
sw_peak_ptrsize = Not Applicable

all_c,all_cpp=default=default=default:
EXTRA_LIBS=     shlw32m.lib

################################################################
# Peak Tuning Flags
# default peak for int and fp 2006
################################################################
default=peak=default=default:
PASS1_CFLAGS=    -Qprof_gen
PASS2_CFLAGS=    -Qprof_use
PASS1_CXXFLAGS=  -Qprof_gen
PASS2_CXXFLAGS=  -Qprof_use
PASS1_FFLAGS=    -Qprof_gen
PASS2_FFLAGS=    -Qprof_use
PASS1_LDFLAGS=   -Qprof_gen
PASS2_LDFLAGS=   -Qprof_use
sw_peak_ptrsize = 32-bit

#################################################################
# (Edit this to match your system)
#################################################################

default=default=default=default:
license_num      = 13
test_sponsor     = Intel Corporation
hw_avail         = Dec-9999
sw_avail         = Dec-9999
test_date        = Dec-9999
tester           = Intel Corporation
hw_cpu_name      = Intel Trademarked CPU Name
hw_cpu_char      = 
hw_cpu_mhz       = 9999
hw_disk          = 9999 GB SATA, 9999RPM
hw_fpu           = Integrated
hw_memory        = 9999 GB
hw_model         = System Model Name
hw_ncpuorder     = 9999 chip
hw_ncores        = 9999
hw_nchips        = 9999
hw_ncoresperchip = 9999
hw_nthreadspercore = 9999
hw_other         = None
sw_auto_parallel = No
hw_pcache        = 9999 K micro-ops I + 9999 KB D on chip per core
hw_scache        = 9999 MB I+D on chip per core
hw_tcache        = None
hw_ocache        = None
hw_vendor        = Intel Corporation
prepared_by      = Anirudha Rahatekar
sw_file          = NTFS
sw_os            = Windows XP x64 Professional
sw_state         = Default
sw_other         = None

int=default=default=default:
sw_compiler001   = Intel C++ Compiler for IA32 version 9.x
sw_compiler002   = Package ID XXXXXXXX Build no XXXXXXXXX
sw_auto_parallel = No

fp=default=default=default:
sw_compiler001   = Intel C++ Compiler for IA32 version 9.x
sw_compiler002   = Package ID XXXXXXXX Build no XXXXXXXXX
sw_compiler003   = Intel Fortran Compiler for Itanium version 9.x
sw_compiler004   = Package ID XXXXXXXX Build no XXXXXXXXX
sw_auto_parallel = No
